# Ignored since they has been installed through buildout
#setuptools
#Django==1.2.5
#django-openid-auth==0.2
#celery>=2.2.7,<2.3
#django-celery>=2.2.7,<2.3
#django-picklefield==0.1.7

python-openid
poster
python-debian
South
simplejson
psycopg2
flup
chardet
