/**
  BlankOn Style
**/

header {
    background-color: #73d216;
    padding: 5px;
    color: #eeeeec;
    text-align: right;
    border-bottom: 3px solid #4e9a06;
    margin: 0 0 10px 0;
}

header menu {
    list-style: none;
    margin: 0px;
}
header menu li {
    display: inline;
}

header menu li a:hover {
    background-color: #4e9a06;
    color: #e2e3db;
}

header menu li a {
    color: black;
    text-decoration: none;
    padding: 7px 5px 5px 5px;
    margin: 0x;
}

header img#logo {
    position: fixed;
    top: 0px;
    left: 0px;
}

a.submenu {
    color: black;
    padding: 0 10px 0 0;
}

#copyright {
    color: #73d216;
    text-align: center;
}
table.vertical {
    width: auto; 
}
table.vertical th {
    padding-right: 30px;
    white-space: nowrap;
}
table.vertical td {
    width: 100%;
}
table.vertical tbody tr:nth-child(odd) , 
table.vertical tbody tr.odd {
    background:#e5ecf9;
}
table.vertical tbody tr:nth-child(even) td, 
table.vertical tbody tr.even td {
    background: inherit;
}

th {
    white-space: nowrap;
}

.code {
    font-family: monospace;
}

#task-page #task-logs tr > td {
    white-space: nowrap;
}
#task-page #task-logs tr > td + td {
    width: 100%;
}

#spec-page #spec-pkglist tr > td,
#spec-page #spec-pkglist tr > td + td + td {
    white-space: nowrap;
}
#spec-page #spec-pkglist tr > td:nth-child(4) {
    width: 100%;
}
#spec-page #spec-tasks tr > td:nth-child(6) {
    width: 100%;
}
#spec-page #spec-tasks tr > td:nth-child(3),
#spec-page #spec-tasks tr > td:nth-child(4),
#spec-page #spec-tasks tr > td:nth-child(7) {
    white-space: nowrap;
}
#spec-page #spec-logs tr > td {
    white-space: nowrap;
}
#spec-page #spec-logs tr > td + td + td {
    width: 100%;
}
#spec-page #spec-sources {
    padding-left: 2em;
}

#summary-page #builders td:nth-child(3) {
    white-space: nowrap;
}
#summary-page #builders td:nth-child(4) {
    width: 100%;
}
#summary-page #builds td {
    white-space: nowrap;
}
#summary-page #builds td:nth-child(6) {
    width: 100%;
    white-space: normal;
}
#builder-page #builder-tasks td {
    white-space: nowrap;
}
#builder-page #builder-tasks td:nth-child(6),
#builder-page #builder-tasks td:nth-child(7),
#builder-page #builder-tasks td:nth-child(8) {
    width: 33%;
    white-space: normal;
    font-size: .8em;
}

div.paginator {
    text-align: right;
}
div.paginator a.nav {
    text-decoration: none;
}

