{% load i18n %}
<!DOCTYPE html>
<html><head>
<title>{% block title %}{% trans "BlankOn Package Factory" %}{% endblock title %}</title>
<meta name="keywords" content="BlankOn Linux"/>
<meta name="description" content="BlankOn package factory"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/b/screen.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blankon.css"/>
{% block extrahead %}{% endblock extrahead %}
</head><body>

<div id="b-bar-menu">
<img id="b" src=/site-media/images/logo.png>
  <a id="b-a" href>Wiki</a>
  <a id="b-a" href>Alih bahasa</a>
  <a id="b-a" href>Akun</a>
  </div>
  <div id="b-bar-closure">
  &nbsp;
  </div>
<div class="container">

<div class="span-20 prepend-2">
{% if not user.is_authenticated %}
<a id=submenu href=/o/login?next=/>{% trans "Login" %}</a>
{% else %}
<a id=submenu href=/>{% trans "Home" %}</a>
<a id=submenu href=/new-job>{% trans "New Job" %}</a>
<a id=submenu href=/logout>{% trans "Logout" %}</a>
Logged in as: {{ user }}
{% endif %}
        </div>

<div class="span-20" id="content">
{% block content %}{% endblock content %}
</div>

</div>

<footer class="container">
<p id="copyright">&copy; 2010&ndash;2011, Yayasan Penggerak Linux Indonesia, Tim Pengembang BlankOn</p>
</footer>

</body></html>

