{% load i18n %}
<!DOCTYPE html>
<html><head>
<title>{% block title %}{% trans "BlankOn Package Factory" %}{% endblock title %}</title>
<meta name="keywords" content="BlankOn Linux"/>
<meta name="description" content="BlankOn package factory"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/b/screen.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blankon.css"/>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/irgsh.js"></script>
{% block extrahead %}{% endblock extrahead %}
</head><body>

<header>
    <img id="logo" src="{{ MEDIA_URL }}images/logo.png"/>
    <menu>
    <li><a href="">Wiki</a></li>
    <li><a href="">Alih bahasa</a></li>
    <li><a href="">Akun</a></li>
    </menu>
</header>

<div class="container">

<nav><p>
<a class="submenu" href="{% url build_summary %}">{% trans "Home" %}</a>
{% if user.is_authenticated %}
{% if perms.build.specification_submit %}
<a class="submenu" href="{% url build_submit %}">{% trans "New Build Job" %}</a>
{% endif %}
Logged in as: <strong>{{ user }}</strong>
(<a href="{% url account_logout %}">{% trans "logout" %}</a>)
{% else %}
<a class="submenu" href="{% url account_login %}">{% trans "Login" %}</a>
{% endif %}
</p></nav>

<div class="span-20" id="content">
{% block content %}{% endblock content %}
</div>

</div>

<footer class="container">
<p id="copyright">&copy; 2010&ndash;2011, Yayasan Penggerak Linux Indonesia, Tim Pengembang BlankOn</p>
</footer>

</body></html>

