{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "irgsh: Package Builder" %}
{% endblock %}

{% block content %}

<div class="span-8">
<fieldset>
<legend>{% trans "Builders" %}</legend>
<table>
<tr>
<th>{% trans "Builder" %}</th>
<th>{% trans "Arch" %}</th>
<th>{% trans "Status" %}</th>
</tr>
{% for b in builders %}
<tr>
<td><a href=/builder/{{ b.name }}>{{ b.name }}</a></td>
<td>{{ b.architecture }}</td>
<td>{{ b.state }}</td>
</tr>
{% endfor %}
</table>
</fieldset>
</div>

<div class="span-8">
<fieldset>
<legend>{% trans "Latest Tasks" %}</legend>
<table>
<tr>
<th>{% trans "Task" %}</th>
<th>{% trans "Submitter" %}</th>
<th>{% trans "Package" %}</th>
<th>{% trans "Version" %}</th>
<th>{% trans "Status" %}</th>
</tr>
{% for t in tasks %}
<tr>
<td><a href=/task/{{ t.id }}>{{ t.id }}</a></td>
<td>{{ t.job.submitter }}</td>
<td>{% if t.package %}{{ t.package }}
{% else %}{% trans "Unprocessed" %}{% endif %}</td>
<td>{% if t.version %}{{ t.version }}
{% else %}{% trans "Unprocessed" %}{% endif %}</td>
<td>{{ t.get_state_display }}</td>
</tr>
{% endfor %}
</table>
<a href=/tasks/>{% trans "More..." %}</a>
</fieldset>
</div>
{% endblock content %}
