{% extends "package/base.html" %}
{% load i18n %}
{% load irgsh_tags %}

{% block content %}
<div class="block" id="package-page">
<h1>{{ package }}</h1>

{% if published %}
<h2>{% trans "Published Packages" %}</h2>
<table class="published">
<tr><th>{% trans "Build" %}</th>
    <th>{% trans "Published" %}</th>
    <th>{% trans "Distribution" %}</th>
    <th>{% trans "Version" %}</th>
</tr>
{% for build in published %}
<tr><td><a href="{{ build.get_absolute_url }}">{{ build.id }}</a></td>
    <td>{{ build.finished|date:"d/m/y H:i" }}</td>
    <td>{{ build.distribution }}</td>
    <td>{% if build.version %}{{ build.version }}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if builds %}
<h2>{% trans "Latest Builds" %}</h2>
<table class="pbuilds">
<tr><th>{% trans "ID" %}</th>
    <th>{% trans "Submitter" %}</th>
    <th>{% trans "Date" %}</th>
    <th>{% trans "Duration" %}</th>
    <th>{% trans "Distribution" %}</th>
    <th>{% trans "Version" %}</th>
    <th>{% trans "Status" %}</th>
</tr>
{% for build in builds %}
<tr><td><a href="{{ build.get_absolute_url }}">{{ build.id }}</a></td>
    <td><a href="{{ build.submitter.get_absolute_url }}">{{ build.submitter }}</a></td>
    <td>{{ build.created|date:"d/m/y H:i" }}</td>
    <td>{{ build.finished|since:build.created }}</td>
    <td>{{ build.distribution }}</td>
    <td>{% if build.version %}{{ build.version }}{% endif %}</td>
    <td>{{ build.get_status_display }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>{% trans "There is no builds of this package" %}</p>
{% endif %}


{% endblock %}

