{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
		<meta name="keywords" content="BlankOn Linux"/>
		<meta name="description" content="BlankOn package factory"/>
		<link rel="stylesheet" type="text/css" href="/site-media/css/blankon.css">
		{% block extrahead %}{% endblock extrahead %}
    </head>
    <body>
<div id="b-bar-menu">
<img id="b" src=/site-media/images/logo.png>
  <a id="b-a" href>Wiki</a>
  <a id="b-a" href>Alih bahasa</a>
  <a id="b-a" href>Akun</a>
  </div>
  <div id="b-bar-closure">
  &nbsp;
  </div>
<div id="content">
{% if not user.is_authenticated %}
<a id=submenu href=/o/login?next=/>{% trans "Login" %}</a>
{% else %}
<a id=submenu href=/>{% trans "Home" %}</a>
<a id=submenu href=/new-job>{% trans "New Job" %}</a>
<a id=submenu href=/logout>{% trans "Logout" %}</a>
Logged in as: {{ user }}
{% endif %}
<p>
        {% block content %}
        {% endblock content %}

<div id="copyright">
(c) 2010, Yayasan Penggerak Linux Indonesia, Tim Pengembang BlankOn
  </div>

</div>
    </body>
</html>
