{% extends "base.html" %}
{% load i18n %}

{% block title %}
Information about task #{{ task_id }} {{ task.package }} {{ task.version }}
{% endblock %}

{% block content %}
<h1>Task #{{ task_id }}</h1>
Job id: {{ task.job.id }}<br/>
{% if task.package %}
Package: {{ task.package }}<br/>
{% endif %}
{% if task.version %}
Version: {{ task.version }}<br/>
{% endif %}
Task status: {{ task.get_state_display }}<br/>
Debian URL: {{ task.debian_url }}<br/>
Debian VCS: {{ task.debian_vcs }}<br/>
{% if task.debian_tag %}
Debian tag: {{ task.debian_tag }}<br/>
{% endif %}
{% if task.debian_copy %}
Debian copy: {{ task.debian_copy }}<br/>
{% endif %}
{% if task.orig_url %}
Original source code: {{ task.orig_url}}<br/>
{% endif %}

{% if task.orig_copy %}
Original source code copy: {{ task.orig_copy}}<br/>
{% endif %}


{% if assignments %}
<fieldset>
<legend>Builders</legend>
{% for a in assignments %}
<fieldset>
<legend>{{ a.architecture }}</legend>
Start time: {{ a.start_time }}<br/>
Builder: <a href="/builder/{{ a.handler }}">{{ a.handler }}</a><br/>
State: {{ a.get_state_display }}<br/>
</fieldset>
{% endfor %}
</fieldset>
{% endif %}

{% if manifest %}
<fieldset>
<legend>Manifest</legend>
{% for m in manifest %}
<fieldset>
<legend>{{ m.name }}</legend>
Name: {{ m.name }}<br/>
Architecture: {{ m.architecture }}<br/>
Type: {{ m.get_type_display }}<br/>
</fieldset>
{% endfor %}
</fieldset>
{% endif %}


{% if log%}
<fieldset>
<legend>Log</legend>
<table>
{% for entry in log %}
<tr>
<td width=25%>{{entry.time}}</td>
<td>{{entry.text}}</td>
</tr>
{% endfor %}
</table>
</fieldset>
{% endif %}
{% endblock content %}
